{% extends 'base.html' %}
{% block content %}

    <h2 class="fpCategory">Products</h2>
    <div class="content">
        {% for product in products %}
            <a class="cardLink dropElem" href="{% url 'product-productInfo' product.id %}">
                <div class="card">
                    <h4>{{ product.name }}</h4>
                    {% for image in images %}
                        {% if image.product_id == product.id and image.id|divisibleby:2%}
                            <img src="{{ image.productImage }}" alt="{{ product.name }}">
                        {% endif %}
                    {% endfor %}
                </div>
            </a>
        {% endfor %}
    </div>


{% endblock %}