{% extends 'base.html' %}
{% block content %}
    <div id="accountInfoContainer">
    <div id="line5"></div>
    <div id="line6"></div>
    <div id="line7"></div>
    <div id="line8"></div>
    <h2 id="accountInfo1">Account Info </h2>
    <h2 id="accountInfo2">Payment Info </h2>
    <h2 id="accountInfo3">Purchase History </h2>
    </div>
    <div id="info">
        <h5>Full Name: {{ user.get_full_name }} </h5>
        <h5 class="userInfo">Username: {{ user.username }} </h5>
        <h5 class="userInfo">Email: {{ user.email }} </h5>
        <h5 class="userInfo">Address: {{ user.account.address }} {{ account.addressNumber }} </h5>
        <h5 class="userInfo">Zip: {{ user.account.zip.zip }}</h5>
        <h5 class="userInfo">Country: {{ user.account.zip.country }}</h5>
        <h5 class="userInfo">City: {{ user.account.zip.city }}</h5>
    </div>
    <img src="{{ user.account.accountImage }}" style="margin-top: -400px; margin-left: 750px" alt="profile image">
    <a href="{% url 'myAccount-updateAccount' %}" ><button class="button">Edit</button></a>
    <a href="{% url 'myAccount-paymentInfo' %}" ><button class="button">Next</button></a>
{% endblock content %}