{% extends 'base.html' %}
{% block content %}
    {% load crispy_forms_tags %}
    <div id="accountInfoContainer">
    <div id="line1"></div>
    <div id="line6" ></div>
    <div id="line7"></div>
    <div id="line2"></div>
    <h2 id="accountInfo1">Account Info </h2>
    <h2 id="accountInfo2">Payment Info </h2>
    <h2 id="accountInfo3">Purchase History </h2>
    </div>
    <div id="infoCard">
        {% if not payment %}
            <div class="paymentRegister">
                <h5 id="addCardInfo">Would you like to add a card?</h5>
                <a href={% url 'myAccount-paymentRegister' 2 %}><button type="button" id="addCardInfo" class="btn btn-secondary">Add Card</button></a>
            </div>
        {% else %}
            {% for card in payment %}
            <h5 class="userInfo">Name on Card: {{ card.nameOnCard }} </h5>
            <h5 class="userInfo">Card Number: ************{{ card.cardNumber|slice:"-4:"}} </h5>
            <h5 class="userInfo">expiration Date: {{ card.expirationDate }} </h5>
            <h5 class="userInfo">CVV: {{ card.CVV }}</h5>
            {% endfor %}
        {% endif %}
    </div>
    <div class="paymentButtons">
        <form class="accountForm" action="{% url 'accountInfo' %}">
            <button type="submit" class="btn btn-success">Previous</button>
        </form>
        <form class="accountForm" action="{% url 'myAccount-purchaseHistory' %}">
            <button type="submit" class="btn btn-success">Next</button>
        </form>
    </div>
{% endblock content %}