{% extends 'base.html' %}
{% block content %}
    <div id="accountInfoContainer">
    <div id="lineP1"></div>
    <div id="lineP2" ></div>
    <div id="lineP3"></div>
    <div id="lineP4"></div>
    <h2 id="accountInfo1">Account Info </h2>
    <h2 id="accountInfo2">Payment Info </h2>
    <h2 id="accountInfo3">Purchase History </h2>
    </div>
    <div id="infoHistory">
    {% for item in products %}
         <div class="item-history">
            <h5 class="name">Name</h5>
            <h5>{{ item.name }}</h5>
            <h5 class="price">Price</h5>
            <h5 class="price">${{ item.price }}</h5>
            <h5 class="image"></h5>
            <img class="productImg" src="{{ item.image }}" alt="{{ item.name }}">
            </div>
    {% endfor %}
    </div>
    <div class="historyButtons">
        <form class="accountForm" action="{% url 'myAccount-paymentInfo' %}">
            <button type="submit" class="btn btn-success">Previous</button>
        </form>
    </div>

{% endblock content %}