h2{
    background-color: aquamarine;
}

.fpSearch{
    width: 600px !important;
}

.center{
    margin: 0 auto;
}

.right{
    width: 145px;
    margin-right: 10px;
}

footer{
    background-color: #f8f9fa;
}

.fleft{
    margin-left: 50px;
}



