
@import './product/product.css';
@import './homepage/homepage.css';
@import './header/nav.css';
@import './footer/footer.css';
@import './myAccount/myAccount.css';
@import './checkout/checkout.css';

body{

    background-color: #D7D7D7 !important;
}


.container{
    min-height: 80vh;

    background-color: #D7D7D7 !important;

}

h2{
    color: #232F3E !important;
}


.container{
    min-height: 80vh;
}



.productCard{
    width: 200px;
    height: 200px;
}

.infoImg{
    width: 400px;
    height: 200px;
    margin-left: 0;
    border-style: solid;

}

.description{
    width: 400px;
    height: 200px;
    margin-left: 700px;
    font-size: large;
    border-style: solid;

}

#addTo{
    background-color: #8ED7B0;
    margin-right: 30%;
}

