{% extends 'base.html' %}
{% block content %}

    <h2 class="fpCategory">Consoles</h2>
    <div class="content">
        {% for product in products %}
            {% if product.category_id == 1 %}
                <div class="card">
                    <h4>{{ product.name }}</h4>
                    <img src="{{ product.image }}" alt="{{ product.name }}">
                </div>
            {% endif %}
        {% endfor %}
    </div>
    <h2 class="fpCategory">Games</h2>
    <div class="content">
        {% for product in products %}
            {% if product.category_id == 2 %}
                <div class="card">
                    <h4>{{ product.name }}</h4>
                    <img src="{{ product.image }}" alt="{{ product.name }}">
                </div>
            {% endif %}
        {% endfor %}
    </div>
    <h2 class="fpCategory">Accessories</h2>
    <div class="content">
        {% for product in products %}
            {% if product.category_id == 3 %}
                <div class="card">
                    <h4>{{ product.name }}</h4>
                    <img src="{{ product.image }}" alt="{{ product.name }}">
                </div>
            {% endif %}
        {% endfor %}
    </div>

{% endblock %}