{% extends 'base.html' %}
{% block content %}
    {% include 'productToolbar.html' %}
     <div class="content">
     {% if not products %}
         <div class="content">
            <h2>No products found</h2>
        </div>
     {% else %}
         {% for product in products %}
            <a class="cardLink dropElem" href="{% url 'product-productInfo' product.id %}">
            <div class="card">
                <h4>{{ product.name }}</h4>
                <img src="{{ product.image }}" alt="{{ product.name }}">
                <h4>${{ product.price }}</h4>
            </div>
            </a>
        {% endfor %}
     {% endif %}
    </div>
{% endblock %}