<!-- Footer -->
<footer class="page-footer font-small teal pt-4">

  <!-- Footer Text -->
  <div class="container-fluid text-center text-md-left">

    <!-- Grid row -->
    <div class="row">

      <!-- Grid column -->
      <div class="col-6 col-md-4">

        <!-- Content -->
        <h5 class="text-uppercase font-weight-bold">Captain Console</h5>
        <p>Captain Avenue 48</p>
          <p>2130 Consoleville</p>
          <p>Gameland</p>
          <p>Open every day 10:00 - 18:00</p>

      </div>
      <!-- Grid column -->
        <div class="col-6 col-md-4"></div>
      <hr class="clearfix w-100 d-md-none pb-3">

      <!-- Grid column -->
      <div class="col-6 col-md-4">

        <!-- Content -->
        <h5 class="text-uppercase font-weight-bold">Contact</h5>
        <p>Tel. 666-420-911</p>
          <p>Email. cptnconsole@cc.com</p>
          <p>Need Help ?<a href="{% url 'contactUs-index' sentQ=0 %}"> Contact us.</a></p>

      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Text -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2020 Copyright:
    <a href="https://www.youtube.com/watch?v=oHg5SJYRHA0"> Captain Console</a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->
