<div class="header">
    <nav class="navbar navbar-expand-lg navbar-light">
      <a class="navbar-brand fpDrop" href="{% url 'homepage-index' %}">Captain Console</a>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto center">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle fpDrop" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Consoles
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                {% for manufacturer in manufacturers %}
                    <a class="dropdown-item dropElem" href="{% url 'product-index' 1 manufacturer.id %}">{{ manufacturer.name }}</a>
                {% endfor %}
                <div class="dropdown-divider"></div>
                <a class="dropdown-item dropElem" href="{% url 'product-index' 1 0 %}">See all</a>
            </div>
          </li>
            <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle fpDrop" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Games
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                {% for manufacturer in manufacturers %}
                    <a class="dropdown-item dropElem" href="{% url 'product-index' 2 manufacturer.id %}">{{ manufacturer.name }}</a>
                {% endfor %}
                <div class="dropdown-divider"></div>
                <a class="dropdown-item dropElem" href="{% url 'product-index' 2 0 %}">See all</a>
            </div>
          </li>
            <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle fpDrop" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Accessories
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                {% for manufacturer in manufacturers %}
                    <a class="dropdown-item dropElem" href="{% url 'product-index' 3 manufacturer.id %}">{{ manufacturer.name }}</a>
                {% endfor %}
                <div class="dropdown-divider"></div>
                <a class="dropdown-item dropElem" href="{% url 'product-index' 3 0 %}">See all</a>
            </div>
          </li>
            <form class="form-inline my-2 my-lg-0" action="{% url 'searchBar-index' %}" method="get">
              <input class="form-control mr-sm-2 fpSearch" name="q" id="search-box" type="search" placeholder="Search" aria-label="Search">
              <button class="btn btn-outline-success my-2 my-sm-0"  id="search-btn" type="submit">Search</button>
            </form>
        </ul>
          <ul class="navbar-nav right">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle fpDrop" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Account
            </a>
              {% if user.is_authenticated %}
                  <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item dropElem" href="{% url 'accountInfo' %}">Account</a>
                <a class="dropdown-item dropElem" href="{% url 'seePurchasehistory' %}">Purchase history</a>
                      <a class="dropdown-item dropElem" href="{% url 'myAccount-searchHistory' %}">Search history</a>
                      {% if user.is_staff %}
                          <a class="dropdown-item dropElem" href="{% url 'staff-index' %}">Staff Page</a>
                          {% endif %}
                <div class="dropdown-divider"></div>
                <a class="dropdown-item dropElem" href="{% url 'logout' %}">Log out</a>
                    </div>
              {% else %}
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item dropElem" href="{% url 'login' %}">Login</a>
                <a class="dropdown-item dropElem" href="{% url 'registerLocation' %}">Sign up!</a>
                <div class="dropdown-divider"></div>
                    </div>
              {% endif %}

          </li>
            <li class="nav-item">
            <a class="nav-link dropdown-toggle fpDrop" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Cart
            </a>
                <div style="margin-left: 90%" class="dropdown-menu" aria-labelledby="navbarDropdown">
                    {% for item in cartItems %}
                        <a class="dropdown-item">{{ item.name }}</a>
                    {% endfor %}
                    <div class="dropdown-divider"></div>

                    <a class="dropdown-item" role="button" id="cart-btn" href="{% url 'checkout-cart' %}">Checkout</a>

                    <a class="dropdown-item" role="button" id="cart-btn" href="{% url 'checkout-emptyCart' %}">Empty Cart</a>

            </div>
          </li>
              </ul>
      </div>
    </nav>
</div>

