<div class="bar">
    {% if cat == '1' %}
        <h2>Consoles</h2>
    {% elif cat == '2' %}
        <h2>Games</h2>
    {% else %}
        <h2>Accessories</h2>
    {% endif %}
    <div class="buttons">
        <div class="dropdown buttonFilter">
          <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Filter
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            {% if filter is None %}
             <form class="my-2 my-lg-0" action="{% url 'product-productRange' cat man 0 %}" method="get">
                <div class="formFilter">
                    <input class="form-control mr-sm-2 prodSearch" name="from" id="search-box" type="search" placeholder="$" aria-label="Search">
                    <input class="form-control mr-sm-2 prodSearch" name="to" id="search-box" type="search" placeholder="$$$" aria-label="Search">
                </div>
                 <div class="formFilter">
                    <button class="btn btn-outline-success my-2 my-sm-0"  id="search-btn" type="submit">Filter</button>
                 </div>
            </form>
            {% else %}
                <form class="my-2 my-lg-0" action="{% url 'product-productRange' cat man filter %}" method="get">
                  <div class="formFilter">
                    <input class="form-control mr-sm-2 prodSearch" name="from" id="search-box" type="search" placeholder="$" aria-label="Search">
                    <input class="form-control mr-sm-2 prodSearch" name="to" id="search-box" type="search" placeholder="$$$" aria-label="Search">
                </div>
                 <div class="formFilter">
                    <button class="btn btn-outline-success my-2 my-sm-0"  id="search-btn" type="submit">Filter</button>
                 </div>
                </form>
            {% endif %}
            {% for platform in platforms %}
                {% if platform.name != 'All' %}
                    <a class="dropdown-item" href="{% url 'product-productFilter' cat man platform.id %}">{{ platform.name }}</a>
                {% endif %}
            {% endfor %}
          </div>
        </div>
        <div class="dropdown buttonFilter">
          <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Sort
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              {% if filter is None %}
                  <a class="dropdown-item" href="{% url 'product-productSort' cat man 0 0 %}">Price: Ascending</a>
                  <a class="dropdown-item" href="{% url 'product-productSort' cat man 0 1 %}">Price: Descending</a>
                  <a class="dropdown-item" href="{% url 'product-productSort' cat man 0 2 %}">Release date</a>
              {% else %}
                  <a class="dropdown-item" href="{% url 'product-productSort' cat man filter 0 %}">Price: Ascending</a>
                  <a class="dropdown-item" href="{% url 'product-productSort' cat man filter 1 %}">Price: Descending</a>
                  <a class="dropdown-item" href="{% url 'product-productSort' cat man filter 2 %}">Release date</a>
              {% endif %}
          </div>
        </div>
    </div>
</div>