{% extends 'base.html' %}
{% block content %}
    <div>
    <h2>Your Order</h2>
    <h2 class="fpCategory"></h2>
    {% if shippingMethod == 'shipping' %}
    <h3> Shipping method: {{ shippingMethod }}</h3>
        <h5>Shipping Address: {{ user.account.address }} {{ user.account.addressNumber }}</h5>
        <h5>Zip: {{ user.account.zip.zip }}</h5>
        <h5>Country: {{ user.account.zip.country }}</h5>
        <h5>City: {{ user.account.zip.city }}</h5>
        {% else %}
            <h3> Shipping method: {{ shippingMethod }}</h3>
    {% endif %}
    <h3> Price ${{ totalPrice }}</h3>
        <div class="separator">
            <h2>Products</h2>
        </div>
    {% for item in cartItems %}
    <h3> {{ item.name }}</h3>
    {% endfor %}

    </div>
    <a href={% url 'checkout-saveOrder' shippingMethod %}><button type="button" data-toggle="modal" data-target="#exampleModalCenter"class="btn btn-primary">Confirm</button></a>

<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="exampleModalLongTitle">We have recived your Order</h4>
        <h5 class="modal-title" id="exampleModalLongTitle">Thank you for shopping at Captain Console</h5>

        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
      </div>
    </div>
  </div>
</div>
{% endblock %}>