{% extends 'base.html' %}
{% block content %}

    <h2 class="fpCategory">Products</h2>
    <div class="content">
    <div class="cartContainer">
        <h5>confitmation stuff </h5>
    <button type="submit" id="shipping" value="shipping" name="shipping" class="btn btn-secondary">Free Shipping</button>
        <button type="submit" id="pickup" value="pickUp" name="pickUp" class="btn btn-secondary">Pick up</button>
    </div>
    </div>

        <a href="#"><button type="button" id="checkout" class="btn btn-secondary">Next</button></a>

{% endblock %}l>