{% extends 'base.html' %}
{% block content %}

    <h2 class="fpCategory">Payment</h2>
    <div class="content">
    <div class="cartContainer">
    <div class="userCards">
        <h2> Your cards </h2>
        {% for card in cards %}
            {% if card == 'NoCard' %}
                <h3> No card</h3>
            {% endif %}
            <div id="singleCard">
            <h5> Name on card:<br>{{ card.nameOnCard }}</h5>
            <h5> Card number:<br> ************{{ card.cardNumber|slice:"-4:"}}</h5>
            </div>
        {% endfor %}
    </div>
    <h5 id="addcardText">Would you like to add a card?</h5>
    <a href={% url 'myAccount-paymentRegister' 1 %}><button type="button" id="addcard" class="btn btn-secondary">Add Card</button></a>
    </div>
    </div>
        <a href={% url 'checkout-shipping' %}><button type="button" id="nextCheck" class="btn btn-secondary">Next</button></a>

{% endblock %}