{% extends 'base.html' %}
{% block content %}

    <h2 class="fpCategory">Payment</h2>
    <div class="content">
    <div class="cartContainer">
    <div class="userCards">
        <h2> Your cards </h2>
        {% for card in cards %}
            {% if card == 'NoCard' %}
                <h3> No card</h3>
            {% endif %}
            <div id="singleCard">
            <h5> Name on card:<br>{{ card.nameOnCard }}</h5>
            <h5> Card number:<br> ************{{ card.cardNumber|slice:"-4:"}}</h5>
            </div>
        {% endfor %}
    </div>
    <div id="shippingInfo">
        <h2>Shipping Information</h2><br>
        <h5>Name: {{ user.get_full_name }}</h5>
        <h5>Shipping Address: {{ user.account.address }} {{ user.account.addressNumber }}</h5>
        <h5>Zip: {{ user.account.zip.zip }}</h5>
        <h5>Country: {{ user.account.zip.country }}</h5>
        <h5>City: {{ user.account.zip.city }}</h5>
    </div>
    <h5 id="addcardText">Would you like to add a card?</h5>
    <a href={% url 'myAccount-paymentRegister' %}><button type="button" id="addcard" class="btn btn-secondary">Add Card</button></a>
    </div>
    </div>
        <a href={% url 'checkout-shipping' %}><button type="button" id="nextCheck" class="btn btn-secondary">Next</button></a>

{% endblock %}