{% extends 'base.html' %}
{% block content %}

    <h2 class="fpCategory">Products</h2>
    <div class="content">
    <div class="cartContainer">
        <h5>We offer free shipping to your nearest post office. If you would like to take advantage of this amazing service then select the free shipping button below.

            If you would like store pick up at our store at Ögurhvarf then select the pick up button </h5>
        <form action="{% url 'checkout-saveOrder' %}" method="get">
            <button type="submit" id="shipping" value="shipping" name="methodship" class="btn btn-secondary">Free Shipping BOY</button>
            <button type="submit" id="pickup" value="pickUp" name="methodship" class="btn btn-secondary">Pick up</button>
        </form>
    </div>
    </div>

        <a href={% url 'checkout-saveOrder' %}><button type="button" id="confirmShip" class="btn btn-secondary">Confirm</button></a>
{% endblock %}