{% extends 'base.html' %}
{% block content %}

    {% for product in products %}
        <h2 class="fpCategory">{{ product.name }}</h2>
            <div class="infoImg">
                <img class="productCard" src="{{ product.image }}" alt="{{ product.name }}">
            </div>
            <div class="description"><p>{{ product.description }}</p></div>
        <a href="{% url 'product-addToCart' product.id %}"><button type="button" id="addTo" class="btn btn-secondary">Add to cart</button></a>
    {% endfor %}



{% endblock %}