.content{
    display: flex;
}

.card{
    margin: 15px;
    background-color: #D7D7D7 !important;
}

.prodSearch{
    width: 70px !important;
}

.formFilter{
    display: flex;
    width: 50px !important;
}

img{
    width: 200px;
    height: 200px;
}


.productCard{
    width: 200px;
    height: 200px;
}

.infoImg{
    width: 400px;
    height: 200px;
    margin-left: 0;
    border-style: solid;

}

.description{
    width: 400px;
    height: 200px;
    margin-left: 700px;
    font-size: large;
    border-style: solid;

}

#addTo {
    background-color: #8ED7B0;
    margin-right: 30%;
}

.cardLink{
    text-decoration: none !important;

}