.content{
    display: flex;
    flex-wrap: wrap;
}

.card{
    margin: 15px;
    background-color: #ebebeb !important;
    box-shadow: 3px 3px 1px #acacac;
}

.prodSearch{
    width: 75px !important;
}

.formFilter{
    display: flex;
    width: 35px !important;
    align-items: center;
}

img{
    width: 200px;
    height: 200px;
}


.productCard{
    width: 200px;
    height: 200px;
}

.infoImg{
    width: 400px;
    height: 200px;
    margin-left: 0;
    border-style: solid;

}

.description{
    width: 400px;
    height: 200px;
    margin-left: 700px;
    font-size: large;
    border-style: solid;

}

#addTo {
    background-color: #8ED7B0;
    margin-right: 30%;
}

.cardLink{
    text-decoration: none !important;
}

.productCard{
    width: 400px;
    height: 400px;
}

.infoImg{
    width: 400px;
    height: 200px;
    margin-left: 0;
}

.description{
    width: 400px;
    height: 200px;
    margin-left: 700px;
    font-size: large;
}

.info{
    display: flex;
}

#addTo{
    background-color: #8ED7B0;
    margin-right: 30%;
}