.content{
    display: flex;
    flex-wrap: wrap;
}

.card{
    margin: 15px;
    background-color: #ebebeb !important;
    box-shadow: 3px 3px 1px #acacac;
}

.prodSearch{
    width: 75px !important;
}

.formFilter{
    display: flex;
    width: 35px !important;
    align-items: center;
}

img{
    width: 200px;
    height: 200px;
}


.cardLink{
    text-decoration: none !important;

}

.productCard{
    width: 600px;
    height: 450px;

}


.infoImg{
    width: 400px;
    height: 200px;
}

.description {
    width: 400px;
    height: 200px;
    font-size: larger;
    margin-left: 63%;
    position: relative;
    bottom: 200px;
}


.info{
    display: flex;
}

#addTo{
    background-color: #8ED7B0;
    margin-left: 90%;
}

#price{
    margin-left: 90%;
    position: relative;
    bottom: 100px;
}