.cartContainer{
    width: 1200px;
    margin-bottom: 100px;
}

.item{
    float: left;
    margin-left: 200px;
    margin-top: 40px;
    width: 855px;
    height: 100px;
    border-bottom: 4px solid #8ED7B0;
    display: inline-block;

}
.productImg{
    width: 80px;
    height: 80px;
    margin-left: 650px;
    margin-top: -200px;
}

.price{
    position: relative;
    margin-left: 300px;
    bottom: 65px;
}

.image{
    position: relative;
    margin-left: 660px;
    bottom: 130px;
}

#checkout{
    position: relative;
    left: 820px;
    bottom: 30px;
    width: 80px;
}

.userCards{
    position: relative;

}

.totalPrice{
    width: 200px;
    margin-bottom: 20px;
    margin-left: 910px;
}

#addcardText{
    margin-bottom: 20px;
    position: relative;
    left: 900px;
    width: 150px
}
#addcard{
    margin-bottom: 20px;
    position: relative;
    left: 900px;
    width: 150px;
    background-color: #8ED7B0;

}


#singleCard{
    float: left;
    margin-left: 0px;
    margin-top: 20px;
    width: 200px;
    height: 100px;
    display: inline-block;
}

#nextCheck{
    position: relative;
    left: 900px;
    bottom: 90px;
    background-color: #8ED7B0;

}

#confirmShip{
    background-color: #8ED7B0;
    position: relative;
    left: 900px;
}

#shipping{
    background-color: #8ED7B0;
    position: relative;
    left: 50px;
    bottom: -140px;
}

#pickup{
    background-color: #8ED7B0;
    position: relative;
    left: 100px;
    bottom: -140px;
}

#shippingInfo{
    position: relative;
    margin-left: 30%;
    top: -45px;
}