.cartContainer{
    width: 1200px;
    margin-bottom: 100px;
}

.infoContainer{
    width: 350px;
    top: 150px;
    margin-bottom: 100px;
    margin-left: 200px;

}

.item{
    float: left;
    margin-left: 200px;
    margin-top: 40px;
    width: 855px;
    height: 100px;
    border-bottom: 4px solid #8ED7B0;
    display: inline-block;

}
.productImg{
    width: 80px;
    height: 80px;
    margin-left: 650px;
    margin-top: -200px;
}

.price{
    position: relative;
    margin-left: 300px;
    bottom: 65px;
}

.image{
    position: relative;
    margin-left: 660px;
    bottom: 130px;
}

#checkout{
    position: relative;
    left: 820px;
    bottom: 30px;
    width: 80px;
}

.userCards{
    margin-right: 100px;
    width: 200px;

}

.totalPrice{
    width: 200px;
    margin-bottom: 20px;
    margin-left: 910px;
}

#addcardText{
    margin-bottom: 20px;
    position: relative;
    left: 900px;
    width: 150px
}
#addcard{
    margin-bottom: 20px;
    position: relative;
    right: 870px;
    top: 250px;
    width: 150px;
    background-color: #8ED7B0;

}

#addinfo{
    margin-bottom: 20px;
    position: relative;
    right:540px;
    top: 250px;
    width: 175px;
    background-color: #8ED7B0;
}


#singleCard{
    float: left;
    margin-left: 0px;
    margin-top: 20px;
    width: 200px;
    height: 100px;
    display: inline-block;
}


#next{
    width: 75px;
    position: relative;
    left: 980px;
    top: 63px;
    background-color: #8ED7B0;
}

#nextconfirm{
    width: 75px;
    position: relative;
    left: 980px;
    top: 30px;
    background-color: #8ED7B0;
}


#confirmShip{
    background-color: #8ED7B0;
    position: relative;
    left: 900px;
}

#shipping{
    background-color: #8ED7B0;
    position: relative;
    left: 50px;
    bottom: -140px;
}

#pickup{
    background-color: #8ED7B0;
    position: relative;
    left: 100px;
    bottom: -140px;
}

#shippingInfo{
    position: relative;
    margin-left: 50%;
    top: 5px;
}


.separator{
    width: 200px;
    margin-top: 30px;
    border-bottom: 4px solid #8ED7B0;
}

#product{
    margin-left: 400px;
}
.item-history{
    margin-left: 210px;
}

#find{
    width: 100px;
}

#payment{
    width: 200px;
    border-bottom: 4px solid #8ED7B0;
}

#contactinfo{
    height: 55px;
    width: 395px;
    border-bottom: 4px solid #8ED7B0;
}

#note{
    width: 450px;
    position: relative;
    top: 110px;
    left: 530px;
}

#shippingnote{
    width: 550px;
    position: relative;
    bottom: -75px;
    left: 430px;
}

#seperator{
    position: relative;
    top: 0px;
    border: 4px solid #8ED7B0;
    height: 10px;
    width: 855px;
}

#redx{
    width: 20px;
    height: 20px;
}

.remove{
    margin-left: 800px;
    margin-bottom: 100px;
    position: relative;
    bottom: 120px;

}